
@{




   // Working with numbers
   var a = 4;
   var b = 5;
   var theSum = a + b;

   // Working with characters (strings)
   var technology = "ASP.NET";
   var product ="Web Pages";

   // Working with objects
   var rightNow = DateTime.Now;
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Testing Razor Syntax</title>
    <meta charset="utf-8" />
    <style>
    body {font-family:Verdana; margin-left:50px; margin-top:50px;}
    span.bright {color:red;}
    </style>
  </head>
<body>
  <h1>Testing Razor Syntax</h1>

 <table>
        <thead><tr><th>Продукт</th><th>Цена</th></tr></thead>
        <tbody>
            @for (int i =0; i < 10; i ++) {
                <tr>
                    <td>@i</td>
                    <td>@i+1</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>